.no-match-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: var(--color-text);
  gap: 3rem;
}
