.tableStyling th {
  text-align: left;
  vertical-align: middle;
  padding: 8px;
  font-size: calc(14px + 1vmin);
}

.tableStyling td {
  text-align: left;
  vertical-align: middle;
  padding: 8px;
  font-size: calc(10px + 1vmin);
}
.tableMarginBottom {
  margin-bottom: 1rem !important;
}

.tableHeader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5rem;
  gap: 10px;
  height: 55px;
}

.itemsWithIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customCheck {
  text-align: center;
  margin: 0;
}

.actionItems {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 5px;
}

/* Remove number increase/decrease buttons in number forms */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
