.expensesTable th {
  vertical-align: middle;
  font-size: calc(10px + 1.5vmin);
}

.expensesTable td {
  vertical-align: middle;
  font-size: calc(6px + 1.5vmin);
}

.tableHeader {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.centeredButtons {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 10px;
}

.customCheck {
  margin: 0;
}

.actionItems {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 5px;
}

/* Remove number increase/decrease buttons in number forms */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
