.expensesTable th {
  vertical-align: middle;
  font-size: calc(10px + 1.5vmin);
}

.expensesTable td {
  vertical-align: middle;
  font-size: calc(6px + 1.5vmin);
}

.customCheck {
  margin: 0.25em;
}

.actionItems {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

/* Remove number increase/decrease buttons in number forms */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
