html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444d62 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Globally change sizes of forms */
.form-control {
  padding: 0.1rem 0.4rem !important;
  font-size: 1rem !important;
}
.form-select {
  padding: 0.1rem 1.375rem 0.1rem 0.4rem !important;
  font-size: 1rem !important;
  background-position: right 0.25rem center !important;
}

/* Globally remove bottom margin for tables (to be added manually instead of automatically) */
.table {
  margin-bottom: 0 !important;
}

.table-responsive {
  border-radius: 0.5rem !important;
}

/* Globally remove all margin from checkboxes */
.form-check-input {
  margin: 0 !important;
}

/* Globally make small buttons a little bit smaller */
.btn-sm,
.btn-group-sm > .btn {
  --bs-btn-font-size: 0.875rem !important;
}

/* Globally remove dropdown toggle carets */
.dropdown-toggle::after {
  display: none !important;
}
