.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: calc(7px + 1.5vmin);
}

.tabContainer {
  font-size: calc(6px + 1.5vmin);
}

.logInLogOutButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: calc(50px + 5vmin);
}
