.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: calc(12px + 1vmin);
}

.tabContainer {
  font-size: calc(10px + 1vmin);
}

.ProfileButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: auto;
  min-height: inherit;
}

.logInButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 80px;
  min-height: inherit;
}
