.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 55px;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  white-space: nowrap;
}

.noGapFlexRowContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  white-space: nowrap;
}
