.expenses-list__container {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 100%;
  background-color: #3b4357;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* 767px instead of 768 to match Bootstrap Navbar expand="md" */
@media (max-width: 767px) {
  .expenses-list__container {
    width: 100%;
  }
}

.expenses-list__table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
