.loginButton {
  position: absolute;
  right: 50px;
}

.loginHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalXButton {
  position: absolute;
  right: 30px;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}

p {
  margin: 0;
}
